# Ignore node_modules directory
node_modules/
.DS_store

# Ignore compiled JavaScript files
*.js

# Ignore TypeScript declaration files
*.d.ts

# Ignore build output directory
/dist/

# Ignore editor-specific files
.vscode/
.idea/

# Ignore environment-specific files
.env

# Ignore logs and debugging files
logs/
*.log
debug.log

# Ignore package-lock.json file (use yarn.lock for Yarn)
package-lock.json

# Ignore any personal or sensitive information
secrets.env
